@model IEnumerable<WebApplication2.Models.CSharp.FirstClass>;
@{
    ViewData["Title"] = "FirstView";
}

<h1>FirstView</h1>

<table>
    <tr>
        
            @foreach (var item in Model)
            {
               <td>@item.Name</td>
                
            }
    
    </tr>
</table>
      