@model IEnumerable<WebApplication2.Models.APICall.ApiRoot>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4"> Coming soon on Xbox</h4>

    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th>
                    Game
                </th>
                <th>
                    Url
                </th>                          
                <th>
                    Cover URL
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.url)
                    </td>                  
                    <td>
                        <img src="https://images.igdb.com/igdb/image/upload/t_cover_med/@Html.DisplayFor(modelItem => item.cover.image_id)@Html.DisplayFor(modelItem => item.cover.imgPrefix)"/>
                    </td>                    
                </tr>
            }
        </tbody>
    </table>

</div>
