@model GamingApi.ViewModels.APIViewModel

@{
    ViewData["Title"] = "Home Page";
}
<style>
    td {
        vertical-align: middle !important;
    }
</style>

<div class="text-center">
    <h4 class="display-4"> Coming soon on Xbox</h4>

    <table class="table table-striped table-hover table-dark" id="myTable">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Release Date
                </th>
                <th>
                    Cover URL
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.apiRoot)
            {
                <tr>
                    <td>
                        <a style="color:white; font-weight:bold;" target="_blank" href="@Html.DisplayFor(modelItem => item.url)">@Html.DisplayFor(modelItem => item.name) </a>
                    </td>
                    <td>

                        @foreach (var i in item.release_dates)
                        {
                            @Html.DisplayFor(modelItem => i.human)<br>
                        }

                    </td>
                    <td>
                        <img src="https://images.igdb.com/igdb/image/upload/t_cover_med/@Html.DisplayFor(modelItem => item.cover.image_id)@Html.DisplayFor(modelItem => item.cover.imgPrefix)" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
